<div class="container">
  <div class="row">
    <div class="col col-md-2">
      side menu
    </div>
    <div class="col col-md-7">
      <ol>
        <li>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p>What is HTML?</p>
                <h4 class="panel-title text-right">
                  <a data-toggle="collapse" href="#collapse1">Answer</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>HTML stands for Hypertext Markup Language. It is s markup language for World Wide Web. HTML was developed
                    by Tim Berners Lee during 1990’s. It consists of tags which are used to define content and web page formatting.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div class="col col-md-3">
      add
    </div>
  </div>
</div>