<div class="container-fluid" id="interviewp-q">
  <div class="row">
    <div class="col col-sm-2">

    </div>
    <div class="col col-sm-7 lang-list">
      <div class="row">
          <div class="col col-sm-3">
            <div class="text-center lang-box light-orange shineOnHover">
              <a routerLink="html-iqn-a">
                <p class="lang-title">Html5</p>
                <div class="lang-logo">
                    <img src="assets/img/HTML5_logo.png" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="col col-sm-3">
            <div class="text-center lang-box light-blue shineOnHover">
              <a>
                <p class="lang-title">CSS3</p>
                <div class="lang-logo">
                    <img src="assets/img/CSS3_logo.png" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="col col-sm-3">
            <div class="text-center lang-box light-purple shineOnHover">
              <a>
                <p class="lang-title">Javascript</p>
                <div class="lang-logo">
                    <img src="assets/img/Javascript-logo.png" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="col col-sm-3">
            <div class="text-center lang-box light-green shineOnHover">
              <a>
                <p class="lang-title">jQuery</p>
                <div class="lang-logo">
                    <img src="assets/img/jquery-logo.png" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="col col-sm-3">
            <div class="text-center lang-box light-pink shineOnHover">
              <a>
                <p class="lang-title">AngularJS</p>
                <div class="lang-logo">
                    <img src="assets/img/AngularJS-Shield.svg" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="col col-sm-3">
            <div class="text-center lang-box light-orange shineOnHover">
              <a>
                <p class="lang-title">Nodejs</p>
                <div class="lang-logo">
                    <img src="assets/img/nodejs.png" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="col col-sm-3">
            <div class="text-center lang-box light-blue shineOnHover">
              <a>
                <p class="lang-title">PHP</p>
                <div class="lang-logo">
                    <img src="assets/img/PHP-Logo.png" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="col col-sm-3">
            <div class="text-center lang-box light-purple shineOnHover">
              <a>
                <p class="lang-title">Wordpress</p>
                <div class="lang-logo">
                    <img src="assets/img/wordpress-logo.png" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="col col-sm-3">
            <div class="text-center lang-box light-green shineOnHover">
              <a>
                <p class="lang-title">ASP.NET</p>
                <div class="lang-logo">
                    <img src="assets/img/asplogo-square.png" alt="image">
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="col col-sm-3">

    </div>
  </div>
</div>