
<div class="container-fluid nav-margin-bottom" id="apti-q">
  <div class="row">
    <div class="col col-sm-2">
      asd
    </div>
    <div class="col col-sm-7 lang-list">
        <h3>{{quizLangList?.title}}</h3>ads
      <div class="row">
          <div class="col col-sm-3" *ngFor="let quizLang of quizLangList?.langList">
            <div class="text-center lang-box light-orange shineOnHover" (click)="goToQuiz(quizLang.fileName)">
              <p class="lang-title">{{quizLang.lang}}</p>
              <div class="lang-logo">
                  <img src="assets/img/{{quizLang.images}}" alt="image">
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col col-sm-3">
      ASD
    </div>
  </div>
</div>