/* generated element for shine effect.
 * normal state is semi-transparent
 * white but with zero width. Set no
 * transition here for no mouse-leave
 * animations. Otherwise the effect
 * will play in reverse when your mouse
 * leaves the element
 */
 .shineOnHover:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    
}
/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out 
 */
.shineOnHover:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


body {
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
}
.nav-margin-bottom {
    margin-top: 125px;
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
/* BG Colors */
.light-orange{
    background-color: #fdf3d8;
    border-color: #f6c444;
}
.light-pink{
    background-color: #fae3e9;
    border-color: #e97891;
}
.light-blue{
    background-color: #e3edf9;
    border-color: #71a6e0
}
.light-purple{
    background-color: #f4e9f7;
    border-color: #c18ed8;
}
.light-green{
    background-color: #cef6ed;
    border-color: #08d3a4;
}
section {
    padding-top: 50px;
}
.f-lg {
    font-size: 20px;
}

/* Slider */
.banner#myCarousel {
    height: 400px;
}
.carousel-inner {
    height: 100%;
}
.item.slider1 {
    height: 100%;
    background-image: url('./assets/img/blue.jpg');
}
.item.slider2 {
    height: 100%;
    background-image: url('./assets/img/yellow.jpg');
}
.item.slider3 {
    height: 100%;
    background-image: url('./assets/img/green.jpg');
}
/* Slider ends */

/* Home */
.home {
    padding: 0;
}
.home .carousel-caption {
    position: absolute;
    bottom: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Love Ya Like A Sister', cursive;
}
.home .banner h1 {
    font-size: 50px;
}
.banner-btn, .banner-btn:focus, .banner-btn:hover {
    padding: 10px;
    background: #1d1d1d2e;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.carousel-indicators .active {
    background-color: #ffffff80;
}
.carousel-indicators li{
    border: 1px solid #ffffff80;
}
.QnA-wrapper, .QnA-logo img {
    width: 100px;
}
.view-more-btn p {
    padding: 44px 0;
    color: #242424;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.quiz-wrapper, .quiz-logo img {
    width: 100px;
}

/* Home ends */
.lang-box .lang-logo {
    height: 80px;
}
.lang-box .lang-logo img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.lang-box {
    padding: 15px 10px;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.lang-list a {
    text-decoration: none;
}

/* Apititude Answer css */
ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
 
.solution-css ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item, upper-alpha) ".";
  color:rgb(17, 0, 255);
}

.solution-css table.ga-tbl-answer tr.ga-tr-divident {
    white-space: nowrap;
}
.solution-css .ga-td-line-rpad {
    padding-right: 7px;
    vertical-align: middle;
}
.solution-css .ga-td-line {
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    height: auto;
}
.solution-css img {
    vertical-align: middle;
    border: 0;
    outline: none;
}
.solution-css .ga-td-divident {
    border-bottom: 1px solid #000;
    vertical-align: bottom;
    padding-bottom: 2px;
}
.solution-css .ga-td-line {
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    height: auto;
}
.bix-ans-description {
    line-height: 1.7;
}
